<div class="hero-slider owl-carousel">
  <!-- Slide 1 -->
  <div
    class="hero-wrap"
    style="background-image: url('{{ site.baseurl }}/images/bg_9.jpg')"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row no-gutters slider-text align-items-center justify-content-center"
        data-scrollax-parent="true">
        <div
          class="col-md-7 ftco-animate hometitlebg text-center"
          data-scrollax=" properties: { translateY: '70%' }">
          <h1
            class="mb-4"
            data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            MTOTO W'AFRIKA
          </h1>
          <p
            class="mb-5"
            data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            Raise a Child | Raise a Leader | Reign in Christ
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Slide 2 -->
  <div
    class="hero-wrap"
    style="background-image: url('{{ site.baseurl }}/images/bg_8.jpg')"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row no-gutters slider-text align-items-center justify-content-center"
        data-scrollax-parent="true">
        <div
          class="col-md-7 ftco-animate hometitlebg text-center"
          data-scrollax=" properties: { translateY: '70%' }">
          <h1
            class="mb-4"
            data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            Empowering African Children
          </h1>
          <p
            class="mb-5"
            data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            Raise a Child | Raise a Leader | Reign in Christ
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Slide 3 -->
  <div
    class="hero-wrap"
    style="background-image: url('{{ site.baseurl }}/images/bg_7.jpg')"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row no-gutters slider-text align-items-center justify-content-center"
        data-scrollax-parent="true">
        <div
          class="col-md-7 ftco-animate hometitlebg text-center"
          data-scrollax=" properties: { translateY: '70%' }">
          <h1
            class="mb-4"
            data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            Inspiring a Brighter Future
          </h1>
          <p
            class="mb-5"
            data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            Raise a Child | Raise a Leader | Reign in Christ
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
