<section
  class="ftco-section-3 img"
  style="background-image: url(images/bg_3.jpg)">
  <div class="container">
    <div class="row d-md-flex">
      <div class="col-md-6 d-flex ftco-animate"></div>
      <div class="col-md-6 volunteer pl-md-5 ftco-animate">
        <h3 class="mb-3">Become a Volunteer</h3>
        <form action="#" class="volunter-form">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Your Name"
              required />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Your Email"
              required />
          </div>
          <div class="form-group">
            <textarea
              name=""
              id=""
              cols="30"
              rows="3"
              class="form-control"
              placeholder="Message"
              required></textarea>
          </div>
          <div class="form-group">
            <input
              type="submit"
              value="Send Message"
              class="btn btn-white py-3 px-5" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- /Contact Section -->
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
<script type="text/javascript">
  (function () {
    emailjs.init("Fw1cokoUW3A8YRfRO");
  })();

  document
    .getElementById("contact-form")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      // Display loading message
      document.querySelector(".loading").style.display = "block";
      document.querySelector(".error-message").style.display = "none";
      document.querySelector(".sent-message").style.display = "none";

      // Check if the checkbox is checked
      var notARobot = document.getElementById("not-a-robot").checked;
      if (!notARobot) {
        document.querySelector(".loading").style.display = "none";
        document.querySelector(".error-message").style.display = "block";
        document.querySelector(".error-message").innerHTML =
          "Please confirm you are not a robot.";
        return;
      }

      // Get the form data
      var templateParams = {
        name: document.getElementsByName("name")[0].value,
        email: document.getElementsByName("email")[0].value,
        phone: document.getElementsByName("phone")[0].value,
        subject: document.getElementsByName("subject")[0].value,
        message: document.getElementsByName("message")[0].value,
      };

      // Send the email
      emailjs.send("service_u0ofp09", "template_87xc88z", templateParams).then(
        function (response) {
          document.querySelector(".loading").style.display = "none";
          document.querySelector(".sent-message").style.display = "block";
        },
        function (error) {
          document.querySelector(".loading").style.display = "none";
          document.querySelector(".error-message").style.display = "block";
          document.querySelector(".error-message").innerHTML =
            "Failed to send email. Please try again later. Error: " +
            JSON.stringify(error);
        }
      );
    });
</script>
