<footer class="ftco-footer ftco-section bg-dark text-white pt-5 mt-3">
  <div class="container">
    <div class="row mb-5">
      <!-- About Us -->
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h3 class="ftco-heading-2 text-danger">About Us</h3>
          <p>
            Mtoto W’afrika Child Care Ministries was founded in 2013. We are
            hinged on the willingness and hope to spread the unconditional love
            of Jesus Christ to the next generation of leaders in the
            hard-to-reach communities in Uganda and across borders.
          </p>
          <ul class="ftco-footer-social list-unstyled d-flex gap-3 mt-4">
            <li class="d-none">
              <a href="#" class="text-white"
                ><span class="icon-twitter"></span
              ></a>
            </li>
            <li
              class="clickable-li facebook"
              data-href="https://www.facebook.com/profile.php?id=61563417212029">
              <a
                href="https://www.facebook.com/profile.php?id=61563417212029"
                class="text-white">
                <span class="icon-facebook me-2"></span>Mtoto W'Afrika
              </a>
            </li>
            <li class="d-none">
              <a href="#" class="text-white"
                ><span class="icon-instagram"></span
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Site Links -->
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h4 class="ftco-heading-2 text-danger">Site Links</h4>
          <ul class="list-unstyled">
            <li><a href="/" class="py-2 d-block text-white">Home</a></li>
            <li>
              <a href="/donate" class="py-2 d-block text-white">Donate</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Contact Info -->
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h4 class="ftco-heading-2 text-danger">Have a Question?</h4>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#" class="text-white">
                <span class="icon icon-map-marker me-2"></span>
                P.O.BOX 138731 - Kampala GPO, Kampala, Uganda
              </a>
            </li>
            <li class="mb-2">
              <a href="#" class="text-white">
                <span class="icon icon-phone me-2"></span>+256 41 4672056
              </a>
            </li>
            <li class="mb-2">
              <a href="#" class="text-white">
                <span class="icon icon-phone me-2"></span>+256 781 548123
              </a>
            </li>
            <li>
              <a
                href="mailto:info@mtotowafrikauganda.org"
                target="_blank"
                class="text-white">
                <span class="icon icon-envelope me-2"></span
                >info@mtotowafrikauganda.org
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0 text-white-50 p-5">
          &copy; <span id="currentYear"></span> All rights reserved |
          <strong class="text-danger"
            >Mtoto W'Afrika Child Care Ministries</strong
          >
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee" />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00" />
  </svg>
</div>

<!-- Scripts -->
<script>
  // Make Facebook icon clickable
  document.querySelectorAll(".clickable-li").forEach((li) => {
    li.addEventListener("click", () => {
      const url = li.getAttribute("data-href");
      if (url) window.location.href = url;
    });
  });

  // Set the current year
  document.getElementById("currentYear").textContent = new Date().getFullYear();
</script>

<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>
<script>
  $(document).ready(function () {
    $(".hero-slider").owlCarousel({
      items: 1, // Display one slide at a time
      loop: true, // Enable infinite looping
      autoplay: false, // Disable auto-sliding
      nav: true, // Show navigation arrows
      dots: false, // Hide pagination dots
    });
  });
</script>
