<section class="ftco-counter ftco-intro" id="section-counter">
  <div class="container">
    <div class="row no-gutters">
      <div
        class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-1 align-items-stretch">
          <div class="text">
            <span>Served Over</span>
            <strong class="number" data-number="2000">0</strong>
            <span class="text-light">Children in 2 countries in Africa</span>
          </div>
        </div>
      </div>
      <div
        class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-2 align-items-stretch">
          <div class="text">
            <h3 class="mb-4">Donate Money</h3>
            <p>Your kind giving and donations help us do more together</p>
            <p>
              <a href="/donate" class="btn btn-white px-3 py-2 mt-2"
                >Donate Now</a
              >
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-1 align-items-stretch">
          <div class="text">
            <h3 class="mb-4">Become a Volunteer</h3>
            <p class="text-light">
              Every willing heart counts. Come give a hand as you volunteer with
              us. You are welcome
            </p>
            <p>
              <button onclick="contact()" class="btn btn-white px-3 py-2 mt-2">
                Become A Volunteer
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
