<div class="col-md-4">
  <div class="m-3 p-3 us bg-white rounded-3">
    <h2 class="text-dark"><span class="">Served Over</span></h2>
    <h1 class="display-1 fw-bold">
      <strong class="number">2,000</strong>
    </h1>
    <h2><span class="text-dark">Children in Uganda and South Sudan</span></h2>
  </div>
</div>

<div class="col-md-4">
  <div class="m-3 p-3 us bg-white rounded-3">
    <div class="text">
      <h1 class="mb-4 fw-bold">Donate Money</h1>
      <p>Your kind giving and donations help us do more together.</p>
      <p>
        <a href="/donate" class="btn btn-dark px-3 py-2 mt-2">Donate Now</a>
      </p>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="m-3 p-3 us bg-white rounded-3">
    <div class="text">
      <h1 class="mb-4 fw-bold">Become a Volunteer</h1>
      <p class="text-dark">
        Every willing heart counts. Come give us a hand as you volunteer with
        us. You are welcome.
      </p>
      <p>
        <button onclick="contact()" class="btn btn-dark px-3 py-2 mt-2">
          Become A Volunteer
        </button>
      </p>
    </div>
  </div>
</div>
